@model IEnumerable<Products>
@{
    ViewData["Title"] = "Index";
}

<h1>All Products</h1>

<div class="product-container">
    <h1>Blake's Classic Bananas</h1>
    @foreach (var obj in Model) if (obj.Category == "Bananas")
    {
        <a asp-action="ViewProduct" asp-route-id="@obj.Id" class="products">
           
                <h1>@obj.Name</h1>
                <div class="product-item">
                    <img src="@obj.ImagePath" />
                    @if (@obj.Size == "0")
                    {
                        <h2 class="J-price">Price: $@obj.Price</h2>
                    }
                    else
                    {
                        <h2>Price: $@obj.Price</h2>
                        <div class="line"></div>
                        <h2>Size: @obj.Size</h2>
                    }
                    <p>@obj.Description</p>
                </div>
        </a>


    }
    <h1>Blake's Bananas Merch</h1>
    @foreach (var obj in Model) if (obj.Category == "Merch")
        {

            <a asp-action="ViewProduct" asp-route-id="@obj.Id" class="products">
            <h1>@obj.Name</h1>
                <div class="product-item">
                    <img src="@obj.ImagePath" />
                    @if (@obj.Size == "0")
                    {
                        <h2 class="J-price">Price: $@obj.Price</h2>
                    }
                    else
                    {
                        <h2>Price: $@obj.Price</h2>
                        <div class="line"></div>
                        <h2>Size: @obj.Size</h2>
                    }
                    <p>@obj.Description</p>
                </div>
        </a>
        }
    <h1>Blake's Bananas Other Food Products</h1>
    @foreach (var obj in Model) if (obj.Category == "OtherFood")
        {
            <a asp-action="ViewProduct" asp-route-id="@obj.Id" class="products">
                <h1>@obj.Name</h1>
                <div class="product-item">
                    <img src="@obj.ImagePath" />
                    @if (@obj.Size == "0")
                    {
                        <h2 class="J-price">Price: $@obj.Price</h2>
                    }
                    else
                    {
                        <h2>Price: $@obj.Price</h2>
                        <div class="line"></div>
                        <h2>Size: @obj.Size</h2>
                    }
                    <p>@obj.Description</p>
                </div>
            </a>
        }
    <h1>Blake's Bananas Gift Cards and Tour Pricing</h1>
    @foreach (var obj in Model) if (obj.Category == "Gift/Tour")
        {
            <a asp-action="ViewProduct" asp-route-id="@obj.Id" class="products">
                <h1>@obj.Name</h1>
                <div class="product-item">
                    <img src="@obj.ImagePath" />
                    @if (@obj.Size == "0")
                    {
                        <h2 class="J-price">Price: $@obj.Price</h2>
                    }
                    else
                    {
                        <h2>Price: $@obj.Price</h2>
                        <div class="line"></div>
                        <h2>Type: @obj.Size</h2>
                    }
                    <p>@obj.Description</p>
                </div>
            </a>
        }
</div>
       
 
