@model IEnumerable<Products>
@{
    ViewData["Title"] = "Index";
}

<h1>All Products</h1>

<div class="product-container">
    <h1>Blake's Classic Bananas</h1>
    @foreach (var obj in Model) if (obj.Category == "Bananas")
    {
        <div class="products">
            <h1>@obj.Name</h1>
                <img src="@obj.ImagePath" />
                <h2>$@obj.Price</h2>
            <button>Add to Cart</button>
            <p>@obj.Description</p>
        </div>


    }
    <h1>Blake's Bananas Merch</h1>
    @foreach (var obj in Model) if (obj.Category == "Merch")
        {

            <div class="products">
            <h1>@obj.Name</h1>
                <img src="@obj.ImagePath" />
                <h2>$@obj.Price</h2>
            <button>Add to Cart</button>
            <p>@obj.Description</p>
        </div>
        }
    <h1>Blake's Bananas Other Food Products</h1>
    @foreach (var obj in Model) if (obj.Category == "OtherFood")
        {
            <div class="products">
                <h1>@obj.Name</h1>
                <img src="@obj.ImagePath" />
                <h2>$@obj.Price</h2>
                <button>Add to Cart</button>
                <p>@obj.Description</p>
            </div>
        }
    <h1>Blake's Bananas Gift Cards and Tour Pricing</h1>
    @foreach (var obj in Model) if (obj.Category == "Gift/Tour")
        {
            <div class="products">
                <h1>@obj.Name</h1>
                <img src="@obj.ImagePath" />
                <h2>$@obj.Price</h2>
                <button>Add to Cart</button>
                <p>@obj.Description</p>
            </div>
        }
</div>
       
 
